In [1]:
import pandas as pd

In [2]:
dados = pd.read_json("informacoes.json")

In [3]:
dados

   nome  idade                                          enderecos
0  João     28  {'tipo': 'casa', 'rua': 'Rua A', 'numero': 123...
1  João     28  {'tipo': 'trabalho', 'rua': 'Rua B', 'numero':...

In [5]:
pd.json_normalize(dados["enderecos"])

       tipo    rua  numero          cidade
0      casa  Rua A     123       São Paulo
1  trabalho  Rua B     456  Rio de Janeiro

In [6]:
import json

In [11]:
with open(r"informacoes.json") as f: 
    json_bruto = json.load(f)

In [13]:
json_bruto

{'nome': 'JoÃ£o',
 'idade': 28,
 'enderecos': [{'tipo': 'casa',
   'rua': 'Rua A',
   'numero': 123,
   'cidade': 'SÃ£o Paulo'},
  {'tipo': 'trabalho',
   'rua': 'Rua B',
   'numero': 456,
   'cidade': 'Rio de Janeiro'}]}

In [15]:
dados_normalizados = pd.json_normalize(json_bruto,record_path="enderecos",meta=["nome","idade"])

In [16]:
dados_normalizados

       tipo    rua  numero          cidade   nome idade
0      casa  Rua A     123      SÃ£o Paulo  JoÃ£o    28
1  trabalho  Rua B     456  Rio de Janeiro  JoÃ£o    28